
*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

.questionsContainer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.questionsContainer ul{
	list-style: none;
}

.questionList{
	margin: 0.2rem;
	border-radius: 10px;
	padding: 1rem 0.4rem;
	text-align: center;
	background-color: rgba(230, 192, 146, 0.648);
}

.questionList li{
	padding: 1rem;
}

.questionList button{
	margin: 0.3rem;
	padding: 0.7rem 1.4rem;
	background-color: #2b2b2b;
	color: #fff;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.questionList button:hover{
	background-color: #89ca75;
	color: #2b2a2a;
}

button{
	margin: 0.3rem;
	padding: 0.7rem 1.4rem;
	background-color: #89ca75;
	color: #000;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

button:hover{
	background-color: #2b2b2b;
	color: #fff;
}