@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	/* background-color: #e3caca; */
	font-family: 'Lato', sans-serif;
	background-color: #b9b9d1 ;
	/* */
}


.questionsContainer{

	font-size: 1.6rem;
	min-height: 100vh;
	padding: 0 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.questionsContainer ul{
	width: 80%;
	list-style: none;
	padding: 1rem;
}

.questionList{
	margin: 1rem 0;
	border-radius: 10px;
	padding: 3rem 0.7rem;
	color: #333;
	position: relative;
	background-color: #e0e0e9;
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.questionList li{
	padding: 1rem;
	font-weight: 700;
}

.number
{
	position: absolute;
	top: -10px;
	left: -10px;
	font-size: 15px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #fff;
	color: #4d4f94;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px 10px;
}

.questionList .btns{
	display: flex;
	align-items: center;
	justify-content: center;
}

.questionList button{
	margin: 0.6rem;
	background-color:  #f59a7c;
	color: #000;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	transition: 0.2s;
	padding: 1rem 2rem;
}

.questionList button:active, 
.questionList button:focus, 
.questionList button:visited{
	background-color: #333;
	color: #fff;
	opacity: 0.5;
}

.questionList button:hover{
	background-color: #333;
	color: #fff;
	transform: scale(1.1);
	font-size: 1.1rem;
}

.btn{
	margin: 0.3rem;
	padding: 0.7rem 2rem;
	width: 30%;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	font-size: 1.3rem;
	text-transform: uppercase;
	font-weight: 700;
	transition: 0.2s;
}

.btn:hover{

	background-color: #EAB2A0;
	color: #000;
}

p{
	font-weight: 600;
	color: #000;
}

p span{
	font-weight: 900;
	color: #000;
}

.showItems {
	opacity: 1;
}

.hideItems {
	opacity: 0;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {

	.questionsContainer{
		width: 100%;
	}
	.questionList .btns{
		flex-direction: column;
	}
}