
*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	background-color: #e3caca;
}


.questionsContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 1.6rem;
}


.questionsContainer ul{
	width: 80%;
	list-style: none;
	padding: 1rem;
}

.questionList{
	margin: 1rem;
	border-radius: 10px;
	padding: 3rem 0.4rem;
	text-align: center;
	width: 100%;
	background-color: #a76f6fc5;
	box-shadow: -10px 0px 13px -7px #616161, 10px 0px 13px -7px #383838, 5px 5px 15px 5px rgba(92, 92, 92, 0);
	color: #edebeb;
	position: relative;
}

.questionList li{
	padding: 1rem;
	font-weight: 700;
	color: rgba(251, 246, 246, 0.867);
}

.number
{
	position: absolute;
	top: -10px;
	left: -10px;
	font-size: 15px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #dedddd;
	color: #4d4f94;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px 10px;
}

.questionList button{
	margin: 0.6rem;
/* 	padding: 0.7rem 2rem; */
	background-color: #333;;
	color: #fff;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	transition: 0.2s;
	width: 20%;
	height: 10vh;
}

.questionList button:hover{
	background-color:  #EAB2A0;
	color: #2b2a2a;
	transform: scale(1.1);
	font-size: 1.1rem;
}

.btn{
	margin: 0.3rem;
	padding: 0.7rem 2rem;
	width: 20%;
	background-color: #EAB2A0;
	color: #000;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	font-size: 1.3rem;
	text-transform: uppercase;
	font-weight: 700;
	transition: 0.2s;
}

.btn:hover{
	background-color: #2b2b2b;
	color: #fff;
}

p{
	font-weight: 600;
	color: #383838;
}

p span{
	font-weight: 900;
	color: #000;
}

.showItems {
	opacity: 1;
}

.hideItems {
	opacity: 0;
}